## ide
**/.idea
*.iml
rebel.xml

## backend
**/target
**/logs

## front
**/*.lock
os_del.cmd
os_del_doc.cmd
.svn
derby.log
.agents/
.vscode/
*.log
jeecg-boot/db/MySQL/
.agent/
jeecgboot-vue3/src/views/super/online_source_reference/
openspec/
jeecg-boot/BOOT-INF/
